@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MapoPeacefull',sans-serif;
    text-align: center;
}
label {
    width: 60px;
    text-align: center;
    font-weight: bold;
}

input {
    width: 300px !important;
    height: 40px;
    padding: 2px;
    border: 1px solid darkgray;
    border-radius: 7px;
    box-shadow: 3px 2px 4px darkgray;
}

.section {
    width: 100%;
    max-width: 500px;
}

.button {
    background-color: #4b8f4d;
    border: transparent;
    border-radius: 7px;
    padding: 5px 15px;
    color: #fff;
    transition: 0.3s;
}

/*.main_title {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*    font-weight: bold;*/
/*    margin-top: 100px;*/
/*    margin-bottom: 50px;*/
/*}*/

.div2{
    padding: 50px 20px;
}
.section h2{
    margin: 30px 0;
    font-weight: bold;
}

#userid{
    margin-top: 10px;
    margin-bottom: 40px;
}

#userpw{
    margin-top: 10px;
    margin-bottom: 30px;
}