body {
    margin: 0;
    padding: 0;
}

.search_box {
    width: 60%;
    margin: 10px auto;
}

.header {
    background: #2ECC71;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: white;
    margin: 0 0 10px 0;
}

#value {
    border: none;
    background: #fff;
    padding: 6px;
    font-size: 18px;
    width: 80%;
    border-radius: 6px;
}

#value:focus {
    outline: none;
}

.container {
    background: #D5F5E3;
    padding: 1%;
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
    margin: 5px;
    background: #2ECC71;
    border-radius: 15px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.login_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.join_btn {
    position: absolute;
    top: 20px;
    right: 130px;
    padding: 10px 20px;
    background: black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.container2 {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}