@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    background-color: #4b8f4d !important;
}

html {
    background-color: #eee;
}


label {
    text-align: center;
    width: 100%;
    margin-left: 5px;
    line-height: 2.5;
}

input {
    width: 300px !important;
    margin: 5px 0;
    display: inline-block;
}

.wrap {
    text-align: center;
}

.main_title {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin: auto;
}

.section {
    padding: 40px;
    margin: 200px auto;
    width: 100%;
    max-width: 600px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.control {
    width: 300px;
}

#userid {
    margin-left: 15px;
}

#uidcheck {

}

.idinputbox {
    margin-left: 5px;
}