<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/search.css">
    <title>Title</title>
</head>
<body>
<div class="navbox">
    <div class="nick">
        {{ nickname }} 님 환영합니다.
    </div>
    <div class="main">
        <button onclick="window.location.href='/mise'">실시간 미세먼지</button>
    </div>
    <div class="logout">
        <button onclick="logout()">로그아웃</button>
    </div>
</div>
</body>
</html>