<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지하철역에서 살아남기</title>
    <link rel="stylesheet" href="../static/css/mise.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="navbox">
    <div class="nick">
        {{ nickname }} 님 환영합니다.
    </div>
    <div class="main">
        <button onclick="window.history.back()">돌아가기</button>
    </div>
    <div class="logout">
        <button onclick="logout()">로그아웃</button>
    </div>
</div>
<div class="wrap">
    <div class="title">
        <h1>2호선에서 살아남기</h1>
    </div>
    <div class="container2">
        <div id="gu-list">
            <img src="https://www.me.go.kr/images/mamo/c7/dust_img02.jpg"><br>
            {% for row in rows %}
                {% set gu_name = row["MSRSTE_NM"] %}
                {% set gu_mise = row["IDEX_MVL"] %}
                <div class="">
                    <span class="">{{ gu_name }}: {{ gu_mise|int }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>